.title {
  color: #ffffff;
  text-align: center;
}

.pages {
  color: #ffffff;
  text-align: center;
}

.page-content {
  margin: 1rem;
}

.page-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 1rem;
}

.page-button:hover {
  background: #555;
}

.page-button:active {
  background-color: darkgray;
}
